<% if show_all_fields(display) %>
  <p class="inline"><%= l(:field_priority) %>: </p><%= issue.priority.name %>
  <p class="inline"><br><%= l(:field_author) %>: </p><%= link_to issue.author, issue.author %>
  <p class="inline"><br><%= l(:field_start_date) %>: </p><%= issue.start_date %>
  <p class="inline"><br><%= l(:label_created_on) %>: </p><%= issue.created_on %>
  <p class="inline"><br><%= l(:label_updated_on) %>: </p><%= issue.updated_on %>
  <% spent_time = issue_spent_hours_details(issue)
  estimated_time = "/#{issue.estimated_hours}h"
  description = issue.description
  if spent_time.present? %>
    <p class="inline"><br><%= l(:label_spent_time) %>: </p><%= spent_time %><%= estimated_time if issue.estimated_hours.present? %> (<%= l(:label_done) %>: <%= issue.done_ratio %>%)
  <% end %>
  <p class="name tagtest"><%= l(:tags) %>:
    <% issue.tag_counts.collect do |tags|
      find_tags(tags.name) %>
      <%= render_issue_tag_link(tags, @css_class) %>
    <% end %>
  </p>
  <p class="inline"><%= l(:label_in_status) %>: </p><%= time_tag(issue.created_on) %>
  <% if description.present? %>
    <hr>
    <%= description %>
  <% end %>
<% end %>
